.header {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: white;
}


.header_logo {
  width: 10rem;
  transition: opacity 0.8s ease-in-out;
}

.header_top {
  display: flex;
  padding-bottom: 1.44rem;
  padding-top: 1.61rem;
  justify-content: center;
  align-items: center;
  border-bottom: 0.05rem solid #E9E9E9;
}

.header_top_right {
  display: flex;
  align-items: center;
  position: relative;
  width: 10rem;
}

.header_search {
  background-image: url("../img/svg/Search.svg");
  box-sizing: border-box;
  background-size: cover;
  border: none;
  width: 0.89rem;
  height: 0.89rem;
  background-color: white;
  cursor: pointer;
  position: absolute;
  margin-left: 0.5rem;
  right: 0;
}

.header_text-field {
  font-size: 0.75rem;
  color: #4b4b4b;
  border: none;
  border-bottom: solid 0.0625rem #7d7d7d;
  position: absolute;
  left: 0;
  width: 0;
  visibility: hidden;
  outline: none;
  transition: all 0.3s ease-in-out;

}

.header_bottom {
  border-bottom: solid 0.05rem #E9E9E9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.20rem;
  width: 100%;
  font-weight: 500;
}

.header_select {
  cursor: pointer;
  margin-right: 1.8rem;
  box-sizing: border-box;
}

.header_select-body {
  width: max-content;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  height: 0;
}

.header_link {
  text-decoration: none;
  color: black;
  outline: none;
  display: flex;
  align-items: center;
  transition: opacity 0.5s ease-in-out;
}

.header_link:hover {
  opacity: 0.55;
}

.header_select-header {
  display: flex;
  align-items: center;
}

.header_select-icon {
  margin-left: 0.28rem;
}

.header_select-icon-img {
  transform: translate(0,-25%);
}

@media (min-width: 320px) {
  .header {
    position: relative;
  }
  .header_search {
    transform: translateY(0);
  }
  .header_bottom {
    display: none;
  }
  .header_bottom_mobile {
    font-weight: 500;
    margin-top: 1rem;
    box-sizing: border-box;
    padding: 0 1.7rem
  }
  .header_select {
    padding: 0.89rem;
    border-bottom: 0.05rem #E9E9E9;
    max-height: max-content;
  }
  .header_top {
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .header_top_right {
    display: none;
  }
  .header_link {
    margin-top: 0.89rem;
  }
  .header_mobile {
    padding: 1.61rem 0 0 0;
    height: 100vh;
    width: 17.8rem;
    border: solid 0.05rem #E9E9E9;
    position: absolute;
    box-sizing: border-box;
    animation: 0.8s ease-in-out;
    z-index: 100;
    background-color: white;
    left: -17.8rem;

  }
  .header_mobile_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 1.6rem 1.67rem;
    border: solid 0.05rem #E9E9E9
  }
  .header_logo {
    width: 8.9rem;
  }
  .header-burger {
    display: flex;
    align-items: center;
    width: 1.27rem;
    height: 0.89rem;
    position: relative;
    cursor: pointer;
  }
  .header_mobile-cross::before, .header_mobile-cross::after {
    height: 0.18rem;
    width: 100%;
    background-color: black;
    border-radius: 0.17rem;
    position: absolute;
    content: "";
  }
  .header_mobile-cross::before {
    transform: rotate(45deg);
  }
  .header_mobile-cross::after{
    transform: rotate(-45deg);
  }
  .header_close-btn {
    position: relative;
    width: 1.61rem;
    margin-right: 1.76rem;
  }
  .header_burger-menu, .header_burger-menu::after, .header_burger-menu::before {
    width: 100%;
    position: absolute;
    height: 0.18rem;
    background-color: black;
    animation: 0.3s ease-in-out;
    border-radius: 0.17rem;
  }
  .header_burger-menu::after {
    content: "";
    top: 0.341rem;
  }
  .header_burger-menu::before {
    content: "";
    bottom: 0.341rem;
  }
}

@media (min-width: 600px) {
  .header_top {
    margin-right: 0;
    margin-left: 0;
    justify-content: space-around;
  }
  .header_top_right {
    display: block;
  }
}

@media (min-width: 1024px) {
  .header {
    position: sticky;
    top: 0;
    animation: 0.5s ease-in-out;
  }
  .header_mobile, .header_burger {
    display: none;
  }
  .header_top {
    position: relative;
    justify-content: center;
  }
  .header_top_right {
    right: 5rem;
  }
  .header_bottom {
    display: flex;
  } 
  .header_link {
    margin-top: 0;
  }
}


