.main {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.875rem;
}

.main_card {
  width: 25%;
  margin: 0.5% 2rem 0.7%;
}

.main_card-img {
  width: 100%;
}

.main_card-picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main_card-type {
  font-weight: 700;
  color:#EB0028;
  font-size: 0.625rem;
  margin: 0.3rem 0 0.5rem 0;
}

.main_card-topic {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.25rem;
  margin-bottom: 0.35rem
}

.main_card-description {
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 1.125rem;
  color: #929292;
}

.main_card-user {
  font-size: 0.625rem;
  color: #929292;
  display: flex;
  margin-bottom: 0.2rem
}

.main_card-author {
  font-weight: 500;
  color: #000;
  margin-right: 0.3125rem;
}

.main_card-date {
  display: flex;
  align-items: center;
}

.main_card-date::before, .main_card-date::after {
  content: ".";
  background-color: #D7D7D7;
  height: 0.1875rem;
  border-radius: 50%;
  display: block;
  margin-right: 0.3125rem;
}

.main_card-date::after {
  margin-left: 0.3125rem;
}

@media (min-width: 320px) {
  .main {
    margin: 1.875rem 2% 0 2%;
  }
  .main_card {
    width: 100%;
    margin: 0 0 2rem 0;
  }
}

@media (min-width: 600px) {
  .main {
    margin: 1.875rem 0 0 4%
  }
  .main_card {
    width: 45%;
    margin: 0 5% 2rem 0;
  }
  .main_card:nth-child(even) {
    margin-right: 0;
  }
}

@media (min-width: 1024px) {
  .main {
    margin: 1.875rem 0 0 0;
  }
  .main_card {
    width: 45%;
  }
  .main_card:nth-child(even) {
    margin-right: 5%;
  }
  .main_card:nth-child(3n) {
    margin-right: 0;
  }
}